@mixin item( $width,  $height ) {
  width: $width;
  height: $height;
  background-color: #eee;

  border-radius: 12px;
  text-align: center;
  padding: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

  .grid_container {
    width: 80%;
    height: 100vh;
    margin: 16px auto;
    
    padding: 0.5rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 150px);
    gap: 10px;

    grid-template-areas:
    "main main sidebar"
    "main main sidebar"
    "main main sidebar"
    "main2 main2 main2"
    "main2 main2 main2"
    "main3 main4 main5"
    "main3 main4 main5"
    "footer footer footer";

    
    .main {
      grid-area: main;

      @include item(100%, 100%);

      .item {
        display: flex;
        justify-content: space-between;

        h4 {
          text-align: left;
          width: 150px;

          font-size: 18px;

          span {
            color: blue;
          }
        }
      }
      .product {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        padding: 10px;

        a {
          text-decoration: none;
          color: #333;
        }
        
        h4 {
          width: 140px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    .main2 {
      grid-area: main2;

      @include item(100%, 100%);
    }

    .main3 {
      grid-area: main3;

      @include item(100%, 100%);
    }

    .main4 {
      grid-area: main4;

      @include item(100%, 100%);
    }

    .main5 {
      grid-area: main5;

      @include item(100%, 100%);
    }

    .sidebar {
      
      grid-area: sidebar;
      
      @include item(100%, 100%);

      .title {
        display: flex;
        justify-content: space-between;

        margin-bottom: 12px;
      }

      .nike {
        display: flex;
        flex-direction: column;

        gap: 15px;

        a {
          text-decoration: none;
          color: #333;
        }
        
        .nikeItem {

          display: flex;
          justify-content: flex-start;
          align-items: center;
        
          background-color: #eee;

          img {
            width: 180px;
            height: 120px;
            
            border-radius: 8px;
          }
        }

        .nikeContent {
          
        }
      }
    }
  }
