@mixin button() {
  border: none;
  border-radius: 6px;
  padding: 10px;
  background-color: $primary-color;
  color: white;
  cursor: pointer;
}

$primary-color: #333;

.product {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  .search {
    input {
      border: none;
      border-bottom: 2px solid salmon;
      background-color: #e4e4e4;
      outline-color: salmon;
      width: 450px;
      padding: 10px;
      margin-right: 10px;
    }

    button {
      border: none;
      border-radius: 8px;
      padding: 12px;

      background: #333;
      color: white;

      &:hover {
        background: green;
        color: #333;
      }
    }
  }

  .custom_select {
    position: relative;
    min-width: 200px;
    font-family: Arial;

    select {
      appearance: none;
      width: 100%;
      font-size: 1.15rem;
      padding: 0.675em 6em 0.675em 1em;
      background-color: #fff;
      border: 1px solid #caced1;
      border-radius: 0.25rem;
      color: #000;
      cursor: pointer;
    }

    &::before {
      border-left: var(--size) solid transparent;
      border-right: var(--size) solid transparent;
      border-bottom: var(--size) solid black;
      top: 40%;
    }

    &::after {
      border-left: var(--size) solid transparent;
      border-right: var(--size) solid transparent;
      border-top: var(--size) solid black;
      top: 55%;
    }
  }

  .listbox_container {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    

    .listbox {
      width: calc(30% - 10px);
      height: 250px;
      padding: 15px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      text-align: left;

      .img {
        max-width: 100%;
        width: 250px;
        height: 150px;
        object-fit: cover;
        border-radius: 12px;
      }

      a {
        text-decoration: none;
        color: #222;
      }
      
      .content {
        font-size: 18px;
        
        h4, p {
          width: 200px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          margin-top: 8px;
        }
      }

    }
  }

}// product end




.pagination {
  display: flex;
  justify-content: center;
  width: 600px;
  margin: 16px 0;

  .pageBtn {
    margin-right: 6px;
    padding: 10px;
    border: none;
    background-color: #e4e4e4;
    font-size: 18px;
    cursor: pointer;
  }
}